<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The StartUp Sphere</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
</head>

<body>
    <nav class="nav" id="navbar">
        <h2 class="headin" onclick="goto('/')">StartUp Sphere</h2>
        <div class=" user">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">
                    <% if(locals.company){ %>
                        <%= company.username %>
                            <% } %>
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/addstartup">Add StartUp</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <h1>Welcome to </h1>
    <div class="container">
        <span class="company-name"></span>
    </div>
    <div class="startup-container">
        <% if (locals.company) { %>
            <% company.posts.reverse().forEach(e=> { %>
                <div class="card">
                    <div class="card-left">
                        <img src="<%= e.imagelink %>" alt="Company Logo">
                        <h2>
                            <%= e.name %>
                        </h2>
                        <p>
                            <%= e.motive %>
                        </p>
                    </div>
                    <div class="card-right">
                        <h3>Company Details</h3>
                        <div class="details">
                            <div>
                                <p><strong>Founding Year:</strong>
                                    <%= e.founded %>
                                </p>
                                <p><strong>Funding Stage:</strong>
                                    <%= e.stage %>
                                </p>
                                <p><strong>Location:</strong>
                                    <%= e.location %>
                                </p>
                            </div>
                            <div>
                                <p><strong>Company Size:</strong>
                                    <%= e.size %> employees
                                </p>
                                <p><strong>Required Experience:</strong>
                                    <%= e.experience %>
                                </p>
                            </div>
                            <div>
                                <p><strong>Industry:</strong>
                                    <% if (e.industry!="Others" ) { %>
                                        <%= e.industry %>
                                            <% }else{ %>
                                        <%= e.otherindustry %>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                        <div class="cta">
                            <a href="<%= e.websitelink %>">Visit Portal</a>
                            <a href="/update/<%= e._id %>">Update</a>
                            <a href="/delete/<%= e._id %>">Delete</a>
                        </div>
                        <div class="social-media">
                            <a href="<%= e.maplink %>">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
                                    <path
                                        d="M12 2C8.13 2 5 5.13 5 9c0 3.24 4.6 8.48 6.62 10.5.34.3.85.3 1.02 0C14.4 17.48 19 12.24 19 9c0-3.87-3.13-7-7-7zm0 10a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                                        fill="#0077B5" />
                                </svg>
                            </a>
                            <a href="<%= e.linkedinlink %>">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30">
                                    <path
                                        d="M22.23 0H1.77C.79 0 0 .77 0 1.72v20.56C0 23.23.79 24 1.77 24h20.46c.98 0 1.77-.77 1.77-1.72V1.72C24 .77 23.21 0 22.23 0zM7.12 20.45H3.56V9.03h3.56v11.42zm-1.78-13A2.07 2.07 0 013.27 5.3c0-1.14.92-2.07 2.07-2.07s2.07.93 2.07 2.07a2.07 2.07 0 01-2.07 2.15zM20.45 20.45h-3.56v-5.62c0-1.34-.03-3.06-1.86-3.06-1.86 0-2.14 1.46-2.14 2.96v5.72h-3.56V9.03h3.42v1.56h.05c.48-.9 1.66-1.86 3.42-1.86 3.66 0 4.34 2.41 4.34 5.55v6.17z"
                                        fill="#0077B5" />
                                </svg>
                            </a>
                            <a href="<%= e.twitterlink %>">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
                                    <path
                                        d="M 5.9199219 6 L 20.582031 27.375 L 6.2304688 44 L 9.4101562 44 L 21.986328 29.421875 L 31.986328 44 L 44 44 L 28.681641 21.669922 L 42.199219 6 L 39.029297 6 L 27.275391 19.617188 L 17.933594 6 L 5.9199219 6 z M 9.7167969 8 L 16.880859 8 L 40.203125 42 L 33.039062 42 L 9.7167969 8 z"
                                        fill="#0077B5" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>
    </div>

</body>

<script src="scripts/script.js"></script>

</html>